<configuration>

    <!-- Stop logback outputting its own log at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--
    <logger name="io.micronaut.context.condition" level="TRACE"/>
    -->
    <!-- Enable the logging of the SQL queries.
    <logger name="io.micronaut.data.query" level="TRACE"/>
    -->

    <!-- Mute "Rolling back transaction on error" warnings triggered by expected business exceptions. -->
    <logger name="io.micronaut.transaction.support.AbstractReactorTransactionOperations" level="ERROR"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
